
.board {
    display: flex;
    flex-direction: column;
}

.tray {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background:lightgray;
    height: 200px;
}

.minion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex: 1 auto;
    margin: 5px;
    width: 80px;
    max-width: 80px;
    height: 100px;
    max-height: 100px;
    padding: 20px;
}

.minion > .name {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;

}

.minion > .attack {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    color: white;
    vertical-align: middle;
}

.minion > .health {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    color: white;
}

.minion.base {
    background-image: url('backdrop.svg');
    background-repeat: no-repeat;
}
.minion.wall {
    background-image: url('backdrop.svg'), url('wall.png');
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
    border-radius: 10%;
    border: 1px solid;
}
.minion.shield {
    box-shadow: 0 0 6px 10px rgba(204,65,37,1);
}
