
.board {
    display: flex;
    flex-direction: column;
}

.tray {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background:lightgray;
    height: 200px;
}

.minion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: white;
    flex: 1 auto;
    margin: 5px;
    width: 80px;
    max-width: 80px;
    height: 100px;
    max-height: 100px;
    border-radius: 60%/70%;
    border: solid;
    padding: 10px;
}

.minion > .name {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;

}

.minion > .attack {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    vertical-align: middle;
}

.minion > .health {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
}

#min3 {
    /*border: dashed;*/
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { top: 0; left: 0; }
    100% { top: 100px; left: 100%; }
}